
.quora {
  width: 100%;
  min-width: fit-content;
}

  .quora__contents {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 24px 0 24px 0;
      background-color: rgba(0, 0, 0, 0.05);
      width: 100%;
      box-sizing: border-box;
      gap: 1.5cm;
    }

.quora__sidebar-left {
  flex: 0 0 270px;
  max-width: 320px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 24px;
  height: fit-content;
  z-index: 10;
}

.quora__main-feed {
  flex: 1 1 auto;
  min-width: 350px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.quora__sidebar-right {
  flex: 0 0 270px;
  max-width: 320px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: sticky;
  top: 24px;
  height: fit-content;
  z-index: 10;
}

.react-responsive-modal-modal {
  width: 90vw;
  height: 90vh;
}

.quill {
  height: 50vh;
}

.react-responsive-modal-overlay {
  background: rgb(0 0 0 / 75%);
}